{% extends 'includes/base_template.html' %}
{% block title %}Appointment{% endblock %}

{% block nav_appt_active %}active{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
	<form method="post" class="w-25 mx-auto">
		<div class="form-group">
			<label class="font-weight-bold">Name</label>
			<input type="text" class="form-control" placeholder="No funny names!" name="name" required>
		</div>
		<div class="form-group">
			<label class="font-weight-bold">Clinic</label>
			<select name="clinic" class="custom-select" onchange="on_clinic_change(this)">
				<option disabled selected value> -- select an option -- </option>
				{% for clinic in clinics %}
				<option value="{{ clinic }}">{{ clinic }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label class="font-weight-bold">Date</label>
			<select name="date" id="select-date" class="custom-select" onchange="on_date_change(this)">
			</select>
		</div>
		<div class="form-group">
			<label class="font-weight-bold">Time</label>
			<select name="time" id="select-time" class="custom-select" size="5">
			</select>
		</div>
		<input type="submit" class="btn btn-success btn-block" value="Submit">
	</form>
	{{ test_variable|safe }}
</div>

<script>
var should_dates_be_empty = false;
var should_timing_be_empty = false;
var clinic_value = "";

function on_clinic_change(select_element) {
	clinic_value = select_element.value;
	console.log(clinic_value);
	select_date_element = document.querySelector("select#select-date");

	select_date_element.innerHTML = "<option disabled selected value> -- select an option -- </option>";
	select_date_element.removeAttribute("disabled");
	{% if booked_appts is none %}
		{% for date in dates %}
		select_date_element.innerHTML += "<option value='{{ date|safe }}'>{{ date|safe }}</option>";
		{% endfor %}
	{% else %}
		const booked_appts_js = {{ booked_appts|safe }};
		{% for date in dates %}
			var custom_date_js = '{{ date }}';
			if (custom_date_js in booked_appts_js[clinic_value]) {
				if (booked_appts_js[clinic_value][custom_date_js].length < {{ times|length|safe }}) {
					select_date_element.innerHTML += "<option value='{{ date|safe }}'>{{ date|safe }}</option>";
				} else {
				    select_date_element.setAttribute("disabled", "");
                }
			} else {
				select_date_element.innerHTML += "<option value='{{ date|safe }}'>{{ date|safe }}</option>";
			}
		{% endfor %}
	{% endif %}
}

function on_date_change(select_date_element) {
	const date_value = select_date_element.value;
	var time_element = document.querySelector("select#select-time");

	time_element.innerHTML = "<option disabled selected value> -- select an option -- </option>";
	{% if booked_appts is none %}
		{% for time in times %}
		time_element.innerHTML += "<option value='{{ time|safe }}'>{{ time|safe }}</option>";
		{% endfor %}
	{% else %}
		const booked_appts_js = {{ booked_appts|safe }};
		console.log(booked_appts_js);
		{% for time in times %}
			var time_js = '{{ time }}';
            if (date_value in booked_appts_js[clinic_value]) {
                console.log(clinic_value + " has date");
                if (!(booked_appts_js[clinic_value][date_value].includes(time_js))) {
                    console.log("Hello!");
                    time_element.innerHTML += "<option value='{{ time }}'>{{ time }}</option>";
                }
            } else {
                time_element.innerHTML += "<option value='{{ time }}'>{{ time }}</option>";
            }
		{% endfor %}
	{% endif %}
}
</script>
{% endblock %}
